@import './base.css';

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

::selection {
  background: var(--color-highlight);
  color: var(--color-heading);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: var(--color-link-hover-bg);
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    padding: 0;
  }
}
